@layer base, starlight, rapide, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-serif: "Crimson Pro Variable", serif;
  --font-sans: var(--font-serif);
  --font-num: var(--font-serif);
  --font-mono: monospace;
}

/* Dark mode colors. */
:root {
  --sl-hue-accent: 84;
  --sl-color-accent-low: oklch(19% 0.02 var(--sl-hue-accent));
  --sl-color-accent: oklch(80% 0.085 var(--sl-hue-accent));
  --sl-color-accent-high: oklch(90% 0.085 var(--sl-hue-accent));
  --sl-font: var(--font-serif);
  --sl-line-height: 1.5;

  /* --sl-color-white: var(--sl-color-accent); */

  /* Badge */
  --sl-badge-default-border: var(--sl-color-accent);
  --sl-badge-default-bg: var(--sl-color-accent-low);
  --sl-badge-default-text: var(--sl-color-accent-high);

  --sl-color-bg-badge: var(--sl-color-accent);
  --sl-color-border-badge: var(--sl-color-accent-low);
  --sl-color-text-badge: var(--sl-color-accent-high);

  /* Button */
  .sl-link-button {
    &.primary {
      background-color: var(--sl-color-accent-low);
      border: 1px solid var(--sl-color-accent);
      color: var(--sl-color-accent-high);
    }
  }

  /* Headers */
  --sl-text-h1: var(--sl-text-4xl);

  /* --sl-color-accent-low: #131e4f;
  --sl-color-accent: #3447ff;
  --sl-color-accent-high: #b3c7ff;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c; */
  --sl-color-hairline: var(--sl-color-gray-5);
  /* --sl-color-accent-high: var(--sl-color-blue-high);
  --sl-color-accent: var(--sl-color-blue);
  --sl-color-accent-low: var(--sl-color-blue-low); */
  /* --sl-color-accent-high: hsl(234, 80%, 30%);
  --sl-color-accent: hsl(234, 90%, 60%);
  --sl-color-accent-low: hsl(234, 88%, 90%); */
}

:root[data-theme="light"] {
  --sl-color-accent-low: oklch(19% 0.04 var(--sl-hue-accent));
  --sl-color-accent: oklch(40% 0.17 var(--sl-hue-accent));
  --sl-color-accent-high: oklch(60% 0.17 var(--sl-hue-accent));
}

/* .sl-markdown-content li:not(:where(.not-content *)) {
  font-family: var(--font-mono);
} */

/* .sl-markdown-content li:not(:where(.not-content *))::marker {
  font-family: var(--font-mono);
} */
